<div class="course-container" fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">
  <mat-card *ngFor="let course of courses" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)" class="course-card mat-elevation-z3">  
    <img mat-card-image [src]="course.iconUrl">
    <mat-card-header>
      <mat-card-title>{{course.description}}</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <p>{{course.longDescription}}</p>
    </mat-card-content>
    <br>

    <mat-card-actions class="course-actions">
      <button mat-button class="mat-raised-button mat-primary" [routerLink]="[course.url]" [queryParams]="{couponCode: 'NEW_YEAR'}">VIEW COURSE</button>
      <button mat-button class="mat-raised-button mat-accent" (click)="editCourse(course)">EDIT</button>
    </mat-card-actions>
  </mat-card>
</div>
