<div class="not-found">

  <img class="logo-image mat-elevation-z10" src="../../assets/about.jpg">

  <br><br>
  <div class="about-content">
    <h1>About us!</h1>
    <p>&emsp;By connecting students all over the world to the best instructors, CloudCore is helping individuals reach their goals
      and pursue their dreams.
    </p>
  
    <p>&emsp;A great place to grow CloudCore employees live out our values every day as learners and teachers ourselves. Our culture is diverse, inclusive,
      and committed to personal and professional development. We’re not afraid to take on a new challenge, and we love
      taking CloudCore courses!
    </p>
  </div>
</div>

<app-message></app-message>