.logo-image {
  max-width: 750px;
  border-radius: 5px;
  margin: auto;
}

.not-found {
  padding: 40px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}

.about button {
  max-width: 100px;
  margin-top: 30px;
}

.about-content {
  width: 70%;
  margin: auto;
  font-size: 20px;
  line-height: 30px;
}

.about-content h1 {
  text-align: center;
  -webkit-text-decoration: #1976D2 solid underline;
  text-decoration: #1976D2 solid underline;
  -webkit-text-underline-position: under;
  text-underline-position: under;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 70%;
  background-color: #8080807a;
  height: 2px;
}