.course-image {
  max-width: 500px;
  margin: auto;
}

.not-found {
  padding: 40px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}

h1, p {
  margin-bottom: 0;
  text-align: center;
}

.about button {
  max-width: 100px;
  margin-top: 30px;
}