.login-page {
  max-width: 350px;
  margin: 50px auto 0 auto;
}

.login-form {
  display: flex;
  flex-direction: column;
}

mat-spinner {
  margin: auto;
}

.mat-progress-spinner {
  position: unset;
}

.wrapper {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -25px;
  z-index: 3;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(252, 250, 250, 0.568); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}